.divFilmsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;      
    
}
.divPosterTitle{
    width: 370px;
    height: 570px;
    background:cornflowerblue ;
}
.divPoster img{
    border-radius: 10px;
}
