
.divFilmsContainer{
    
    max-width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #131A36 ; 
    justify-content: center;
       
    
}

.divPosterTitle{
    background: #131A36 ;  
    padding: 20px;
    text-align: center;
    position: relative;
    

}
.divPoster{
    
    position: relative;
    border-radius: 8px;
    width: 250px;
    height: 350px;
  

}

.divPoster img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border:2px solid rgb(53, 69, 141);
    position: relative; 
    
    
}
.divTitle h2{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Cambria';
    font-weight:bolder;
    letter-spacing: -1px;
   
}
.divDate{
    position: absolute;
    left: 10px;
    bottom: 11px;
    background: #ED225E;
    width: 70px;
    height: 30px;
    text-align: center;
    
    border-radius: 10px;
    
}
.divDate h3{
    margin-top: 4px;
    color: #fff;
    

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .divFilmsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
   
  }

  
  

