
*{
    margin:0;
    padding: 0;
}

body{
    background-color: #090d20;
}

.contenedor{
    width: 100%;
    margin: 5px auto;
    max-width: 1680px;
    display: flex;
    flex-wrap: wrap;
   
   
    
}
/******HEADER******/
header{
 width: 100%;

 margin:  auto;
 display: flex;
 flex-direction: row;

}
.divLogo {
    display: flex;
    
    width: 40%;
    

}
.divLogo img{
    width: 15%;
    height: auto;
    
}
.divLogo h1{
    font-family: 'Patua One', cursive;
    font-weight: -10px;
    margin-top: 4%;  
    color: white;
   
}
/********************MENÚ*****************/
.navMenu{
 
    width: 60%;
    display: flex;
   
    

}
.navMenu button{
    font-family: 'Domine', serif;
    margin: auto;
    font-size: medium;
    border: 0;
    background-color: #090d20;
    color: white;
}

/******BUSCADOR*****/
.divBuscadorForm{
    width: 50%;
   
   
}
.form-buscador{
    display: flex;
    position: relative;
    left: 10%;
    top:18%;
    width: 70%;
    height: 35px;
   
    background-color: #0f1430;
    border: 2px solid #090d20;
    border-radius: 5px;
    
}
.form-buscador:hover{
    border: 2px solid #ED225E;
}
.form-buscador input{
   
    width: 75%;
    margin-left: 7%;
    height: 33px;
    background-color: #0f1430;
    border: none;
    outline: none;
  
    color: #efece8;
}
.inputIcon{
    width: 13%;
    height: 35px;
    fill:#fff;
}


/***********MAIN*****************/
main{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
}
/********************slider*****************/

.sectionSlider{
   width:100%;
   max-width: 120em;
   
   position: relative;
    /* 
    background-color: black;
   height: 500px;*/
    justify-content: center;
    text-align: center;
    overflow: hidden;
    
    
   
 }
 .sectionSlider .divImgGrande{
    width: 200%;

    
    display: flex;
    flex-flow: row nowrap;
    
    align-items: center;
    padding:0;
    position: relative;

    transition: all .5s ease;
    transform: translateX(0%);
   
    
}
 .sectionSlider img{
    width:calc(100% / 2 );
    min-width: 10vh;
    height: 500px; 
    
  
 }
 .sectionSlider .UlPuntos{
    width: 100%;
    box-shadow:  0px 50px 20px 30px rgba(0, 0, 0, 0.63);
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    
      
}
.sectionSlider .liPunto{
    width: 1.5em;
    height: 1.5em;
    background-color: #6b758b;
    margin: .5em .5em 0;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 30px;
    
}
.sectionSlider .liPunto.activo{
    background-color: #ed215e;

}


 /***********SEC GENERAL */

 .sectionGeneral{
     width: 100%;
     display: flex;
    
 }
 .sectionNavFilms{
  
     width: 76%;

 }
  /***********navbuscador *******/
  .navBuscador{
    width: 100%;
    padding: 10px;
    font-family: 'Domine', serif;
    display: flex;
  /**  box-shadow:  0px 100px 20px 500px rgba(255, 255, 255, 0.63);*/
   
    
    
 }
 .navBuscador h3{
    width: 30%;
    color: white;
    font-size: 20px;
    text-align: center;
    
 }
 .divBuscador{
    width: 60%;
    
 }
 /********botones desplegables*********/
#heade{
    
    width: 300px;
    font-family: Nunito,sans-serif;
    font-weight: bold;
    z-index:4;
    position: relative;
    cursor: pointer;
   
}

ul,ol{
    list-style: none;
}
#orderBy{
    border-radius: 2px;
    border: .5px solid white;
    
}
#orderBy:hover{
    border-color: #ed215e;
}
.nav li option{
    background-color: #090d20;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    display: block;
    
}
.nav li option:hover{
    background-color: rgba(80, 92, 118, 0.904)
   
}
.nav >li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;

}
.nav li:hover > ul{
    display: block;
}

.nav li ul li{
    position: relative;

}
.nav li ul li ul{
    right: -160px;
    top: 0px;

}

/*****************/
  /*****************/
 .divFilmsContainer{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    background-color: #090d20;
   
    margin:auto;
    justify-content: center;
    gap:4% ;
  
    
    
 }
 .divPosterTitle{
     
     width: 100%;
     
     margin-top: 3%;
     font-family: 'Gabriola';
     z-index: 2;
     
     
     
     
 }
 .divPoster{
     justify-content: center;
     text-align: center;
     position: relative;
    
     font-family:'Courier New', Courier, monospace;

     
 }
 .divPoster img{
     
    width: 150px;
    height: 200px;
    border-radius: 10px;
    border:2px solid rgb(9, 18, 59);
    position: relative;

 }
 .divPoster img:hover{
    border:2px solid #3395eb;
 }

 .divDate{
    position: absolute;
    left: 12px;
    bottom: 11px;
    background:#3395eb;
    width: 40px;
    height: 18px;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    letter-spacing: -1px;

    border-radius: 3px;
    
}
.divDate h3{
    text-align: center;
    justify-content: center;
}
 .divPosterTitle h2{
    text-align: center;
    color: #fff;
    font-size: 18px;
    
}

.divPosterTitle h2:hover{
    color: #3395eb;
 }
/***************ASIDE********/
aside{  
    width: 24%;   
    color: white;
    min-width: 100px;
    font-family: 'Domine', serif;
    text-align: center;
}
.divYearDate{
   
    padding: 5px;
}
.divYearDate h3{
    text-align: center;
    justify-content: center;
}
.divYear{
   
    display: flex;
    flex-wrap: wrap;
    justify-content:justify ;
    padding: 10px 2px 25px 0px;
  
        
}

.divYear button{
    padding: 4px 13.5px;
    margin: 0 4px 4px 0;
    border-radius: 4px;
    border: 1px solid #7e8faf;
    color: #c7cce9;
    font-size: 11px;
    transition: all .3s;
    background-color:#090d20;

  
}

.divYear button:hover{
    background-color: rgba(80, 92, 118, 0.904);
}
/*****Pelìculas recomendadas*****/
.divByPopular{
background-color: #0f1430;
margin: 7px 10px;
font-size: 10px;
}
.divMorepopular{

    display: flex;
    border-radius: 5px;
    background-color: #121832;
    position: relative;
    height: 70px;
    
    margin: 7px 0px;
    color: #7b81b1;
    transition: all .3s;
    
 
}
.divMorepopular p{
    position: absolute;
    width: 40px;
    height:40px;
    border-radius: 100%;
    color: #fff;
    background-color: #ed215e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    right: -3px;
    top: -2px;
    z-index: 1;
    font-size:22px;
    font-family: Nunito,sans-serif;
    
}

.divMorepopular img{
  
    width: 20%;
    border-radius: 8px;
  

}
.divPopularText{
    padding: 3% 2%;
    width: 63%;
    background-color: #121832;
    margin: 2%;
}

.divPopularFilms h3{
    justify-content: center;
    text-align: center;
}
.divPopularFilms h3:hover{
    color: rgba(80, 92, 118, 0.904)
   
}
/**********/

/*********detalle de cada pelìcula********/
.divFilmsDetails{
    
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    font-family: 'Domine', serif;
}
.divFilmsDescription{
    width: 100%;
    display: flex;
    flex-wrap:wrap; 
    
}
.divFilmsDetails h2{
    width: 100%;
    color: white;
    
    text-align: center;
}
.divImageMovie{
  width: 20%;
    text-align: center; 
    background-color: aquamarine;
}
.divImageMovie img{
    width: 60%;
    background-color: #c4209e;
    border-radius: 12px;
    border:2px solid rgb(53, 69, 141);
  }

.divDescriptionGeneral{
   
    width: 58%;
    margin-left: 1%;
    padding: 4% 10px;
    background-color: #c4209e;
    text-align: justify;
    border-radius: 12px;
}
.divPuntuacion{
    width: 18%;
    margin-left: 1%;
    background-color: #58324f;
    text-align: justify;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}
.divPuntuacion img{
    width: 30%;
    height: 25%;   
}
.divPuntuacion h3{
   margin-top: 7%;
    width: 70%;  
    background-color: #ED225E; 
}

/*DETALLE DE CADA PERSONAJE*/
.divpeople{
    width: 100%;
    background-color: #36ed22; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.divpeople h3{
    width: 100%;
    background-color: lightpink;
    text-align: center;
}
.divPeopleImg{
  
    background-color: aqua;

}
.divPeopleImg img{
    margin: 5px 5px;
    width: 200px;
    height: 150px;
    border-radius: 12px;  
}

/*********DETALLE DE VEHICULO********/
.divvehicles{
    display: flex;
}

/*********DETALLE DE LOCATIONS********/
.divlocations{
    display: flex;
}
/********************MODAL****************/
#modal{
    background-color: #2030c4;
    left: 34%;
    top:33%;
    width: 300px;
    height: 300px;
    position: absolute;
}

#modal::backdrop{
background-color: rgba(0,0,0,.60);
}
/*****************/
footer{
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: #0f1430;
    
   
}
.footerImg{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}
.footerImg p{
    color: white;
    font-size: 20px;
    padding: 10px;
  
}

.footerImg img{
    width: 3%;
    height: 40px;
   padding: 5px;
}
