*{
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(184, 69, 69);
}
.contenedor{
    width: 94%;
    background-color: aquamarine;
    margin: 5px auto;
    max-width: 1680px;
    display: flex;
    flex-wrap: wrap;
   
   
    
}
/******HEADER******/
header{
 width: 100%;
 background-color: blueviolet;
 margin:  auto;
 display: flex;
 flex-direction: row;

}
.divLogo {
    display: flex;
    background-color: rgb(201, 39, 39);
    width: 40%;
    

}
.divLogo img{
    width: 15%;
    height: auto;
    
}
.divLogo h1{
    font-family: 'Patua One', cursive;
    font-weight: -10px;
    margin-top: 4%;  
    background-color: #ED225E;
   
}
/********************MENÚ*****************/
.navMenu{
    background-color: aqua;
    width: 60%;
    display: flex;
    

}
.navMenu button{
    font-family: 'Domine', serif;
    margin: auto;
    font-size: medium;
    border: 0;
}

/******BUSCADOR*****/
.form-buscador{
    width: 50%;
    background-color: coral;
    
    
}
.form-buscador input{
    background-color: #fff;
    width: 65%;
    height: 50%;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 20px;

    
}


/***********MAIN*****************/
main{
    width: 100%;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
}
/********************slider*****************/

.sectionSlider{
    width:100%;
    background-color: black;
    height: 500px;
    justify-content: center;
    text-align: center;
 }
 .sectionSlider img{
    width:100%;
    height: 100%;
 }

 /***********SEC GENERAL */

 .sectionGeneral{
     width: 100%;
     display: flex;
     background-color: #ED225E;
 }
 .sectionNavFilms{
     background-color: aqua;
     width: 76%;

 }
  /***********navbuscador *******/
  .navBuscador{
    width: 100%;
    background-color: rgb(49, 181, 106);
    font-family: 'Domine', serif;
    display: flex;
   
    
    
 }
 .navBuscador h3{
    width: 30%;
    background-color: rgb(157, 157, 38);
    font-size: 20px;
    text-align: center;
    
 }
 .divBuscador{
    width: 60%;
    background-color: #c4209e;
 }
 /********botones desplegables*********/
#heade{
   
    background-color: #21215F;
    width: 300px;
    font-family: 'Domine', serif;
    font-weight: bold;
    z-index:4;
    position: relative;
   
   
}
ul,ol{
    list-style: none;
}
#orderBy{
    border-radius: 4px;
    border: 1px solid white;
    
}
.nav li option{
    background-color: #1f0d52;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    display: block;
    
}
.nav li option:hover{
    background-color: #2f183d;
   
}
.nav >li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;

}
.nav li:hover > ul{
    display: block;
}

.nav li ul li{
    position: relative;

}
.nav li ul li ul{
    right: -160px;
    top: 0px;

}

/*****************/
  /*****************/
 .divFilmsContainer{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    background-color: blue;
   
    margin:auto;
    justify-content: center;
    gap:2% ;
  
    
    
 }
 .divPosterTitle{
     
     width: 100%;
     background-color: #21215F;
     margin-top: 3%;
     font-family: 'Gabriola';
     z-index: 2;
     
     
     
     
 }
 .divPoster{
     justify-content: center;
     text-align: center;
     position: relative;
     background-color: azure;
     font-family: Arial;
     
 }
 .divPoster img{
     
    width: 200px;
    height: 250px;
    border-radius: 10px;
    border:2px solid rgb(53, 69, 141);
    position: relative;

 }
 .divDate{
    position: absolute;
    left: 12px;
    bottom: 11px;
    background: #ED225E;
    width: 46px;
    height: 22px;
    text-align: center;
    font-size: 15px;
    
    border-radius: 6px;
    
}
 .divPosterTitle h2{
    text-align: center;
    color: #fff;
    font-size: 20px;
    
}
/********MODAL***********/
#modal{
    background-color: #21215F;
    


}

#modal::backdrop{
background-color: rgba(0,0,0,.60);
}

/***************ASIDE********/
aside{  
    width: 24%;   
    background-color: rgb(63, 42, 165);
    min-width: 100px;
    font-family: 'Domine', serif;
}
.divYearDate{
    background-color: aqua;
}
.divYear{
    background-color: rgb(23, 99, 21);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     
    
}
.divYear button{
    width: 50px;
    font-size: 14px;
  padding: 4%;
  background-color: rgb(6, 6, 40);
  margin-inline-start:6px;
  margin-block-start: 6px;
  

  border-radius: 7px;
  color: white;
  border: 1px solid white;

  
}

footer{
    width: 100%;
    background-color: aqua;
}
/*****Pelìculas recomendadas*****/
.divByPopular{
background-color: #c4209e;

font-size: 10px;
}
.divMorepopular{
    background-color: #36ed22;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 1%;
    height: 20%;
 
}
.divMorepopular p{
    justify-content: center;
    text-align: center;
   
    
   position: absolute;
    right: 2%;
    top: 3%;
    width: 30px;
    height: 30px;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    border-radius: 30px;
    background-color: #c92a5f;
    color: #fff;
font-size: 20px;
font-weight: bold;
    
}

.divMorepopular img{
    padding: 1%;
    width: 25%;
  
    background-color: #21215F;
}
.divPopularText{
    padding: 6% 2%;
    width: 63%;
    background-color: #c4209e;
    margin: 2%;
}
/**********/

/*********detalle de cada pelìcula********/
.divFilmsDetails{
    background-color: #21215F;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    font-family: 'Domine', serif;
}
.divFilmsDescription{
    width: 100%;
    display: flex;
    flex-wrap:wrap; 
    
}
.divFilmsDetails h2{
    width: 100%;
    background-color: #265f21;
    text-align: center;
}
.divImageMovie{
  width: 20%;
    text-align: center; 
    background-color: aquamarine;
}
.divImageMovie img{
    background-color: #c4209e;
    border-radius: 12px;
    border:2px solid rgb(53, 69, 141);
  }

.divDescriptionGeneral{
   
    width: 58%;
    margin-left: 1%;
    padding: 4% 10px;
    background-color: #c4209e;
    text-align: justify;
    border-radius: 12px;
}
.divPuntuacion{
    width: 18%;
    margin-left: 1%;
    background-color: #58324f;
    text-align: justify;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}
.divPuntuacion img{
    width: 30%;
    height: 25%;   
}
.divPuntuacion h3{
   margin-top: 7%;
    width: 70%;  
    background-color: #ED225E; 
}
.divpeople{
    width: 100%;
    background-color: #36ed22; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.divpeople h3{
    width: 100%;
    background-color: lightpink;
    text-align: center;
}
.divPeopleImg{
  
    background-color: aqua;

}
.divPeopleImg img{
    margin: 5px 5px;
    width: 200px;
    height: 150px;
    border-radius: 12px;  
}

/*****************/
